/*导航栏*/
.navFixed {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
.myNav {
	width: 100%;
	padding: 0 20px;
	background-color: white;
}
.myNav::after {
	clear: both;
	content: '';
	display: block;
	height: 0;
	width: 0;
    visibility: hidden;
}
.myMenu>li {
	margin: 20px 28px;
	border-bottom: 2px solid #FFFFFF00;
}
.myMenu>li>a {
	padding: 8px 0;
}
.myMenu>li>a:hover {
	background-color: #FFFFFF00;
}
.myMenu>li:hover {
	transition: .1s;
	background-color: #FFFFFF00;
	border-bottom: 2px solid #816554;
}
.shop:hover .mysecMenu{
	display: block;
}
.myMenu>li:hover >a {
	color: rgb(129, 101, 84);
}
.myMenu .navActive {
	border-bottom: 2px solid #816554;
}
.myMenu .navActive>a {
	color: rgb(129, 101, 84);
}
.myMenu li a {
	color: #B58B72FF;
}
.shop {
	position: relative;
}
.mysecMenu {
	z-index: 9;
	display: none;
	position: absolute;
	width: 142px;
	left: -10px;
	top: 38px;
	border: 1px solid #eee;
    border-radius: 4px;
    transition: .5s;
    background-color: white;
}
.mysecMenu li {
	padding-left: 25px;
 	height: 36px;
    line-height: 36px;
    cursor: pointer;
    transition: 1s;
    color: #666;
}
.mysecMenu li a {
	color: #666;
}
.mysecMenu li a:hover {
	text-decoration: none;
}
.mysecMenu li:hover {
	background-color: #D0D0D048;
}
.mybrandLink {
	width: 200px;
}
.mybrand {
	width: 80%;
	margin-top: 15px;
}
.shop span { 
	display: none;
}
.menuBtn {
	display: none;
}

/* 轮播 */
.item {
	height: 390px;
	width: 100%;
}
.item:nth-child(1) {
	background: url(../img/index.jpg) no-repeat;
	background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.item:nth-child(2) {
	background: url(../img/top01.jpg) no-repeat;
	background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.item:nth-child(3) {
	background: url(../img/top03.png) no-repeat;
	background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.carousel-caption {
	color: rgb(181, 139, 114);
	font-family: SimHei;
	line-height: 1.5;
	text-shadow: none;
	top: 35%;
}
.carousel-caption .bTitle {
    font-size: 4.4em;
}
.carousel-caption .lTitle {
	font-size: 1.4em;
}

/* 文字部分 */
#article, #sedArticle {
	margin: 40px 10px 20px 10px;
	color: rgb(181, 139, 114);
	overflow: hidden;
	width: 100%;
}
#article h1 {
	font-family: SimHei;
    font-size: 2.3em;
 	animation: fadeInLeft 2s;	
}
.fadeInLeft {
	animation: fadeInLeft 1.5s;
}
.fadeInRight {
	animation: fadeInRight 1.5s;
}
.fadeInBottom {
	animation: fadeInBottom 1.5s;
}
@keyframes fadeInLeft {
  0% {
    
    transform: translate3d(-3000px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  0% {
    
    transform: translate3d(3000px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInBottom {
  0% {
    
    transform: translate3d(0, 3000px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.rightArticle {
 	margin: 20px;
}
.rightArticle h3 {
	margin: 30px 0;
	color: rgb(129, 101, 84);
	animation: fadeInRight 1s;
}
.rightArticle div p {
	font-size: 1em;
	color: rgb(205, 192, 185);
}
.lineImg {
	animation: fadeInRight 2s;
}
.rightArticle div p, .rightArticle h3 {
	animation: fadeInRight 2.5s;
}

.row {
	overflow: hidden;
	background-color: #FDFAF5FF;
	margin: 15px;
}
.firstRow {
	margin-bottom: 0;
}
.centerRow {
	margin-top: 0;
	margin-bottom: 0;
}
.lastRow {
	margin-top: 0;
}
.picBox {
	padding: 0;
}

.contant img {
	width: 100%;
	height: 100%;
}
.textContant {
	height: 100%;
	margin: 230px 0;
	text-align: center;
	overflow: hidden;
}
.textContant h3 {
	font-size: 1.5em;
	margin: 20px 15px 50px 15px;
	color: rgb(129, 101, 84);
}
.textContant p {
	font-size: 1em;
	color: rgb(181, 139, 114);
}
.myhidden {
   visibility: hidden;
}

#sedArticle {
	text-align: center;
	margin: 50px 10px;
} 
#sedArticle h1 {
	font-size: 2.3em;
	font-family: SimHei;;
}
#sedArticle h3 {
	font-size: 1.5em;
	margin: 30px 15px;
	color: rgb(129, 101, 84);
}


.mypic {
	margin-bottom: 50px;
}
.mypic img {
	width: 100%;
    height: 100%;
    border: 15px solid white;
}

#step .row {
	background-color: white;
}
#step h3 span {
	font-size: 1.5em;
    font-family: Impact, Charcoal, sans-serif;
    color: rgb(129, 101, 84);
}
#step h3 {
	font-size: 1.8em;
}
#step p {
    color: rgb(204, 137, 98);
 }
 #step a {
  	color: rgb(129, 101, 84);
  	text-decoration: underline;
  	display: block;
  	margin-top: 50px;
    margin-bottom: 20px;
}
#findMore {
	width: 100%;
	text-align: center;
}
#findMore h1 {
	color: rgb(181, 139, 114);
	font-size: 2em;
	margin: 150px 0 10px 0;
}
.mylinks span a {
	display: inline-block;
	margin: 10px 20px 100px 0;
	color: rgb(129, 101, 84);
	font-size: 0.8em;
	text-decoration: underline;
}

/* footer */
#footer {
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.footerTitle h1 {
	font-family: "Times New Roman", Times, serif;
    font-size: 2.5em;
    color: rgb(181, 139, 114);
}
.footerTitle h2 {
	/*font-family: SimHei;*/
    font-size: 1em;
    color: rgb(181, 139, 114);
}
#footer hr {
	margin: 15px;
	border-style: dashed;
	color: rgb(181, 139, 114);
}
#footer .row {
	background-color: white;
	color: rgb(129, 101, 84);
	text-align: left;
	font-size: 1em;
}
#footerL, #footerR {
	padding: 0;
}
#footerL p, #footerR {
	margin: 20px 0;
	padding: 0;
}
#footerR input {
    height: 34px;
    padding: 6px 12px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#footerR button {
	border: none;
    border-radius: 3px;
	background-color: #222;
	color: #fff;
    cursor: pointer;
    font-size: 15px;
    padding: 7px 18px;
    box-shadow: 0 0.5px 3px rgba(0,0,0,.3);
    outline: 0;
}
#lastText {
	width: 100%;
	color: rgb(129, 101, 84);
	text-align: center;
	font-size: .9em;
	display: inline-block;
	margin-bottom: 30px;
}

@media screen and (max-width: 992px) and (min-width:767px) { 
	.textContant {
		margin: 60px 0;
	}
	#sedArticle {
		margin: 20px 0;
	}
	.mypic {
		margin-bottom: 20px;
		border-top: none;
	}
	#step h3 {
		font-size: 1.3em;
	}
	 #step a {
	  	margin-top: 30px;
	}
	#findMore h1 {
		margin-top: 60px;
		font-size: 1.6em;
	}
	.mylinks span a {
		margin-bottom: 30px;
		font-size: 0.7em;
	}
}
@media (max-width:768px) {
	/*导航栏*/
	.myNav {
		font-size: 14px;
		width: 100vw;
		background: #000;
		z-index: 20;
	}
	.mybrand {
		margin-top: 0px;
	}
	.myMenu {
		display: none;
		margin-bottom: 40px;
	}
	.myMenu li a, .myMenu li a:hover, .myMenu>li:hover >a {
		color: #999;
	}
	.myMenu li a:focus {
		background-color: black;
	}
	.myMenu>li {
		color: #999;
		padding-left: 10px;
		margin: 20px 40px;
		border-bottom: 1px solid #333;
	}
	.myMenu>li:hover {
		color: #999;
		border-bottom: 1px solid #333;
	}
	.shop span {
		display: block;
		position: absolute;
		right: 0px;
		width: 20px;
		height: 30px;
	}
	.shop:hover .mysecMenu{
		display: none;
	}
	.myMenu>li:hover .myMenu>li>a {
		color: #999;;
	}
	.myMenu .navActive {
		border-bottom: 1px solid #333;
	}
	.myMenu .navActive>a {
		color: #999;
	}
	.mysecMenu {
		display: none;
		position: relative;
		top: 0px;
		width: 100%;
		border: none;
		border-top: 1px solid #333;
	    border-radius: 0px;
	    transition: .5s;
	    padding: 0;
	    margin: 0;
	    font-size: 13px;
	    background-color: black;
	}
	.mysecMenu li a {
		color: #999;
		transition: 1s;
	}
	.mysecMenu li:hover a {
		color: #999;
	}
	.mysecMenu li:hover {
		background-color: black;
	}  
	.menuBtn {
		display: block;
		position: absolute;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		font-size: 20px;
		color: white;
		top: 10px;
		right: 30px;
	}  

    .item {
    	height: 220px;
    }
    .carousel-caption {
    	top: 20%;
    }
    .carousel-caption .bTitle {
 	   font-size: 3em;
	}
	.carousel-caption .lTitle {
		font-size: 1em;
	}
	.textContant {
		margin: 20px 0;
	}
	#sedArticle {
		margin: 20px 0;
	}
	.mypic {
		margin-bottom: 20px;
		border-top: none;
	}
	.contant img {
		border-bottom: 15px solid white;
	}
	#pic1 {
		border-top: 15px solid white;
	}
	#step h3 {
		font-size: 1.3em;
		margin-bottom: 30px;
	}
	 #step a {
	  	margin-top: 30px;
	}
	#findMore h1 {
		margin-top: 20px;
		font-size: 1.6em;
	}
	.mylinks span a {
		margin-bottom: 30px;
		font-size: 0.7em;
	}
	#footer .row {
		width: 100%;
		text-align: center;
	}
	#footerR input {
		display: block;
   		width:280px;
   		margin: 0 auto;
	}
	#footerR button {
		display: block;
   		width:280px;
   		margin: 10px auto;
	}
}

#goTop {
	position: fixed;
    right: 15px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background-color: #888;
    display: none;
}
#goTop span {
	width: 100%;
	text-align: center;
    line-height: 40px;
    color: white;
}
.carousel-inner {
    cursor: pointer;
}